[alias]
	st = status -sb
	co = checkout
	br = branch
	ft = fetch -aupt
	cm = commit -m
	amend = commit --amend --date now --no-edit
	save = "!git add . && git commit -m ':construction: WIP' -n"
	cleangone = "!git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D"
	cleanup = "!git branch | xargs git branch -D; git tag -l | xargs git tag -d; git ft -t"
[user]
	name = Marais Rossouw
	email = me@maraisr.com
	signingkey = 2FACFD47AF4D59A4
[core]
	autocrlf = input
	eol = ef
	editor = vim
	ignorecase = false
	excludesfile = ~/.gitignore-global
[log]
	date = relative
[format]
	pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(7,trunc)%aN%C(auto,reset)%s%C(auto,red)% gD% D
[difftool]
	prompt = false
[commit]
	gpgsign = true
[rerere]
	enabled = true
[push]
	default = current
[pull]
	rebase = true
[rebase]
	autosquash = true
[branch]
	autosetuprebase = always
[receive]
	fsckObjects = true