[alias]
	st = status -sb
	co = checkout --quiet
	br = branch
	ft = fetch -aupt
	cm = commit -m

	# Commits everything staged
	amend = commit --amend --date now --no-edit

	# Git commit, and go home
	save = "!git add . && git commit -m ':construction: WIP' -n"
	# Undo last commit
	undo = reset --soft HEAD~

	# Cleaning
	cleangone = "!git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D"
	cleanup = "!git branch | xargs git branch -D; git tag -l | xargs git tag -d; git ft -t; git gc; git prune"

	## Misc

	# Fuzzy search git commit messages
	fzf = "!git log --color=never --format='%h%d %s %cr' | fzf | awk '{print $1}' | git show --stdin"

	# Gives me a list of directories that are touched
	changed = diff --dirstat=files,0

	# List contributors with number of commits
	contributors = shortlog --summary --numbered
[user]
	name = Marais Rossouw
	email = me@marais.co
	signingkey = 2FACFD47AF4D59A4
[core]
	autocrlf = input
	eol = ef
	editor = vim
	ignorecase = false
	excludesfile = ~/.gitignore-global
	pager = delta
[init]
	defaultBranch = main
[format]
	pretty = format:%C(magenta)%G? %C(bold yellow)%h %<(50,trunc)%Creset%C(italic)%s%Creset%Cgreen%<(12,trunc)% cd %C(dim cyan)%aN%C(bold brightcyan)% gD% D
[difftool]
	prompt = false
[gui]
	spellingdictionary = en
[log]
	date = relative
	follow = true
[commit]
	gpgsign = true
[rerere]
	enabled = true
[push]
	default = current
	autoSetupRemote = true
[pull]
	rebase = true
[rebase]
	autosquash = true
[branch]
	autosetuprebase = always
[receive]
	fsckObjects = true
[fetch]
	prune = true
	pruneTags = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
